#home{
    background-color: #E3E6E6;
    height: 1000vh;
}
.home-main{
    padding-top: 100px;
}

.home-main__display:first-child,
.home-main__display:nth-child(2){
    max-width: 1500px;
    min-width: 1000px;
    margin: 0 auto;
}

.home-main__display:first-child{
    position: relative;
    width: 100%;
    height: 300px;
}
.home-main__display:first-child img{
    width: 100%;
    height: 450px;
    box-shadow: 0px 80px 70px hsl(355, 57%, 44%);
}

.home-main__display-icons{
    position: absolute;
    top: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

.home-main__display:nth-child(2){
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
    padding: 0 20px;
    box-sizing: border-box;
}

.home-main__category{
    background-color: white;
    width: 24%;
    height: 420px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 1270px){
    .home-main__category{
        width: 32%;
    }
}

.home-main__category-title{
    margin: 0;
    font-size: 21px;
    margin-bottom: 13px;
}
.home-main__category-items{
    width: 100%;
    height: 80%;
    margin-bottom: 15px;
    flex: 1;
}
.home-main__category-row{
    display: flex;
    gap: 15px;
    height: 40%;
}
.home-main__category-item{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.home-main__category-item img{
    min-height: 100%;
    width: 100%;
}

.home-main__category-row:first-child{
    margin-bottom: 30px;
}
.category-sm{
    gap: 5px;
    height: 30%;
}
.category-lg{
    height: 90%;
}

.home-main__category > a{
    color: blue;
    position: absolute;
    bottom: 15px;
}

.home-main__best{
    width: 100%;
    height: 285px;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
}
.home-main__best-title{
    margin: 0;
    margin-bottom: 10px;
    font-size: 21px;
}

.home-main__best-list{
    display: flex;
    justify-content: space-evenly;
    height: 200px;
}
.home-main__best-list img{
    height: 100%;
    width: 18%;
}

.home-main__display:last-child{
    width: 100vw;
    height: 210px;
    background-color: white;
    margin-top: 25px;
    padding-top: 40px;
    padding-bottom: 20px;
    box-sizing: border-box;
    min-width: 1000px;
}

.home-main__login{
    border-top: 1px solid hsla(0, 0%, 0%, 0.2);
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-main__login-title{
    font-size: 25px;
    margin-top: 45px;
    margin-bottom: 10px;
}

.home-main__login-btn{
    height: 30px;
    background-color: #FFD814;
    border: none;
    border-radius: 15px;
    width: 450px;
    margin-bottom: 10px;
}


.home-footer{
    width: 100%;
    height: 420px;
    background-color: #232F3E;
    color: white;
}

